.beta-label {
    [data-theme="light"] & {
        color: $gray-500;
        background-color: $gray-800;
    }

    [data-theme="dark"] & {
        color: $gray-500-dark;
        background-color: $gray-800-dark;
    }

    [data-kt-aside-minimize=on] & {
        margin-top: 0;
    }

    font-size: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin: 0.5rem;
}
