.p-datatable {
    .p-datatable-header {
        background-color: var(--kt-card-bg);
        border: none;
        padding: 0 0 1rem 0;
        position: relative;

        .p-input-icon-left {
            position: relative;

            .p-inputtext {
                border: none;
                border-bottom: 1px solid var(--kt-border-color);
                background-color: var(--kt-card-bg);
                color: var(--kt-text-muted);
                border-radius: 0;
            }

            .pi-search {
                position: absolute;
                top: 1rem;
            }
        }

        .search-input {
            cursor: pointer;
            max-width: 40px;
            transition: max-width 0.3s ease-in-out;

            &.active {
                max-width: 300px;
            }

            input {
                width: 100%;
                border: 0 !important;
            }
        }
    }

    .p-datatable-loading-overlay {
        width: 100%;
        height: 100%;
    }

    .p-datatable-thead {
        > tr > th {
            background-color: var(--kt-card-bg);
        }
    }

    .p-datatable-tbody {
        > tr > td {
            background-color: var(--kt-card-bg);
            border-style: dashed;
        }
    }

    .p-column-title {
        text-transform: uppercase;
        font-size: 0.75rem;
        color: var(--kt-text-muted);
    }

    .p-datatable-footer,
    .p-paginator-bottom .p-paginator {
        background-color: var(--kt-card-bg);
        border: none;
    }

    .p-sortable-column-icon.pi-sort-alt {
        display: none;
    }
}
