//
// Header
//

// General
.header {
	.header-brand {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--kt-aside-bg-color);

        [data-kt-aside-minimize="on"] & {
            justify-content: center;
        }
	}

    .header-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        [data-kt-aside-minimize=on] & {
            flex-direction: column;
        }

        [data-theme="light"] & {
            background-color: $gray-100;
        }

        [data-theme="dark"] & {
            background-color: $gray-100-dark;
        }

        .booky-logo {
            width: 60px;
            height: 45px;

            [data-kt-aside-minimize=on] & {
                width: 40px;
                height: 34px;
            }
        }
    }

    .menu-icon {
        [data-theme="light"] & {
            color: #ffffff;
        }
    }
}

.header .initials-avatar,
.menu .initials-avatar {
    background-color: $gray-600;
    color: $gray-100;
    border-radius: 50%;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.header .notification-icon {
    cursor: pointer;
    position: relative;

    @include media-breakpoint-down(lg) {
        color: $gray-100;
    }

    &.new-notifications::before {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: $red-500;
        border-radius: 50%;
        top: 0;
        right: -2px;
    }
}

// Desktop mode
@include media-breakpoint-up(lg) {
	.header {
		display: flex;
		align-items: center;
		position: fixed;
		height: get($header-config, height, desktop);
		transition: left get($aside-config, transition-speed) ease;
		z-index: get($header-config, z-index);
		box-shadow: var(--kt-header-box-shadow);
		background-color: var(--kt-header-bg-color);
		border-bottom: var(--kt-header-border-bottom);
		top: 0;
		right: 0;
		left: 0;

		// Brand
		.header-brand {
			height: get($header-config, height, desktop);
			padding: 0 get($aside-config, padding-x);
            transition: width get($aside-config, transition-speed) ease;
			width: get($aside-config, width);
			border-bottom: var(--kt-header-border-bottom);
			flex-shrink: 0;

            [data-kt-aside-minimize="on"] & {
                transition: width get($aside-config, transition-speed) ease;
                width: 75px;
                padding: 0;
            }
		}

		// Aside toggle
		.aside-minimize {
			.minimize-active {
				display: none;
			}

			&.active {
				.minimize-default {
					display: none;
				}

				.minimize-active {
					display: inline-block;
                    color: $gray-200;
				}
			}
		}
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.header {
        display: flex;
		flex-direction: row;
        background-color: var(--kt-aside-bg-color);
	}

	.header-brand {
		padding: 0 get($content-spacing, tablet-and-mobile);
		background-color: var(--kt-aside-bg-color);
		display: flex;
		align-items: center;
		height: get($header-config, height, tablet-and-mobile);
		width: 100%;

		// Aside toggle
		.aside-minimize {
			display: none;
		}

		// Fixed header and header sticky modes
		.header-tablet-and-mobile-fixed & {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: get($header-config, z-index);
			height: get($header-config, height, tablet-and-mobile);
		}
	}
}
