//
// Menu
//

// Aside menu
.aside-menu {
    .menu {
        // Link padding x
        @include menu-link-padding-x(get($aside-config, menu-padding-x));

        // Menu indention
        @include menu-link-indention(get($aside-config, menu-indention), get($aside-config, menu-padding-x));

        // Item
        .menu-item {
            @include menu-link-hover-state( $title-color: $white, $icon-color: $white, $bullet-color: $white, $arrow-color: $white, $bg-color: transparent, $all-links: true);
            @include menu-link-here-state( $title-color: $white, $icon-color: $white, $bullet-color: $white, $arrow-color: $white, $bg-color: transparent, $all-links: true);
            @include menu-link-show-state( $title-color: $white, $icon-color: $white, $bullet-color: $white, $arrow-color: $white, $bg-color: transparent, $all-links: true);
            @include menu-link-active-state( $title-color: $white, $icon-color: $white, $bullet-color: $white, $arrow-color: $white, $bg-color: $primary, $all-links: true);
        }

        // Separator
        .separator {
            border-bottom: 1px dashed #2D2D43;
        }

        // Item
        > .menu-item {
            padding: 0 0.6rem;
        }
    }

    // Item
    .menu-item {
        padding: 0;

        // Menu Link
        .menu-link {
            padding-top: 0.75rem;
            padding-bottom: 0.75rem;
            border-radius: $border-radius;
        }

        // Icon
        .menu-icon {
            justify-content: flex-start;
        }
    }
}

[data-theme="light"] {
    .aside-menu {
        .menu .menu-item {
            @include menu-link-default-state(
                $title-color: $gray-100,
                $icon-color: $gray-200,
                $bullet-color: $gray-200,
                $arrow-color: $gray-200,
                $bg-color: null,
                $all-links: true
            );
        }

        .menu-item .menu-link.router-link-exact-active {
            background-color: $gray-400 !important;
            cursor: default;

            .menu-icon {
                color: $white;
            }
        }
    }
}

[data-theme="dark"] {
    .aside-menu {
        .menu .menu-item {
            @include menu-link-default-state(
                $title-color: $gray-900-dark,
                $icon-color: $gray-800-dark,
                $bullet-color: $gray-800-dark,
                $arrow-color: $gray-800-dark,
                $bg-color: null,
                $all-links: true
            );
        }

        .menu-item .menu-link.router-link-exact-active {
            background-color: $gray-100-dark !important;
            cursor: default;

            .menu-icon {
                color: $white;
            }
        }
    }
}
