// Write your overrides
.list-side-border {
    border-left: 4px solid rgb(var(--v-global-theme-primary));
}

.layout-wrapper.layout-nav-type-vertical .layout-navbar, .layout-wrapper.layout-nav-type-vertical .layout-footer {
  padding-inline: 0 !important;
}

body .layout-wrapper.layout-nav-type-vertical.layout-navbar-sticky .layout-navbar {
  inset-block-start: 0 !important;
}

.layout-wrapper.layout-nav-type-vertical .layout-navbar .navbar-content-container {
  border-radius: 0 !important;
  border-bottom: 1px solid #eeecec !important;
}

.layout-wrapper.layout-nav-type-vertical .layout-navbar .logo-navbar-content-container {
  block-size: 70px!important;
}

.layout-wrapper.layout-nav-type-vertical .layout-navbar .navbar-content-container {
  box-shadow: none !important;
}

.project-navbar {
  position: sticky !important;
  z-index: 10 !important;
}

.logo-navbar {
  position: sticky !important;
  z-index: 11 !important;
}

/* Hide the up and down arrows for number inputs */
.no-arrows input::-webkit-outer-spin-button,
.no-arrows input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows input {
  -moz-appearance: textfield;
}

.multiselect-purple {
  --ms-tag-bg: rgba(var(--v-theme-primary));
  --ms-border-color: rgba(var(--v-theme-primary));
  --ms-border-color-active: rgba(var(--v-theme-primary)) !important;
}

.multiselect-purple.is-active {
  box-shadow: unset !important;
}

.dots-loader {
  width: 35px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side,rgba(var(--v-theme-primary)) 90%,#0000);
  background:
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
    33%{background-size:calc(100%/3) 0%  ,calc(100%/3) 100%,calc(100%/3) 100%}
    50%{background-size:calc(100%/3) 100%,calc(100%/3) 0%  ,calc(100%/3) 100%}
    66%{background-size:calc(100%/3) 100%,calc(100%/3) 100%,calc(100%/3) 0%  }
}

div:where(.swal2-icon).swal2-warning {
  border-color: rgba(var(--v-theme-primary)) !important;
  color: rgba(var(--v-theme-primary)) !important;
}

@keyframes vertical-spin-pause {
  0% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.vertical-spin-pause {
  animation: vertical-spin-pause 3s linear infinite; /* Total duration is 5 seconds (3s spin + 2s pause) */
}

.project_completed_active {
    border-radius: 50%;
    color: #0bd25f;
    font-size: 24px;
    position: absolute;
    right: 15px;
    margin-top: -10px;
    z-index: 2;
}

.project_completed_active_grid {
    border-radius: 50%;
    color: #0bd25f;
    font-size: 24px;
    position: absolute;
    right: -10px;
    margin-top: -18px;
    z-index: 2;
}

th {
    text-transform: capitalize !important;
}

.swal2-container{
    z-index: 10001!important;
}

.animated-badge .v-badge__badge::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(var(--v-theme-primary));
    border-radius: 50%;
    animation: ping 1.5s infinite;
    z-index: -1;
  }

  @keyframes ping {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    75% {
      transform: scale(2.5);
      opacity: 0;
    }
    100% {
      transform: scale(3);
      opacity: 0;
    }
  }

