// Write your overrides
.list-side-border {
    border-left: 4px solid rgb(var(--v-global-theme-primary));
}

/* Hide the up and down arrows for number inputs */
.no-arrows input::-webkit-outer-spin-button,
.no-arrows input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows input {
  -moz-appearance: textfield;
}

.multiselect-purple {
  --ms-tag-bg: #a12592;
  --ms-border-color: #a12592;
  --ms-border-color-active: #a12592 !important;
}

.multiselect-purple.is-active {
  box-shadow: unset !important;
}