// Write your overrides
.list-side-border {
    border-left: 4px solid rgb(var(--v-global-theme-primary));
}

/* Hide the up and down arrows for number inputs */
.no-arrows input::-webkit-outer-spin-button,
.no-arrows input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-arrows input {
  -moz-appearance: textfield;
}